*{
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 400px;
    background-color:gold ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divbox {
    margin: 10px;
    width: 50%;
    height: 50%;
    background-color: aqua;
}

.pxbox {
    margin: 10px;
    width: 150px;        
    height: 150px;
    background-color: black;
}