
@import url(./root.css);
*{
    color:var(--primary-color)
}

.divbox {
    width: 20%;
    height: 20%;
         /*<-- esercizio var padding */
    border: 5px solid red;
}

.pxbox {
    margin: 10px;
    width: 150px;        
    height: 150px;
    background-color: black;
}

.para{
    font-size: 10px;
}
#para1{
    font-size: 7rem;
}
#para2{
    font-size: 5px;
    height: 5em;
    background-color: blue;
}

.pad{
    padding: 5%;
    margin: 5px;
    border: 5px solid blue;
}
#list1 li{
    display: inline-block;
}

.para3{
    width: 50%;
    height: 400px;
}

.sone{
    border: 5px solid blue;
    background-color: darkgreen;
    display: inline;
}
.stwo{
    border: 5px solid blue;
    background-color:darkgreen ;
    display: inline-block;
}
.sthree{
    border: 5px solid blue;
    background-color:darkgreen;
    display: block;
}


/**Analisi:**/
/*Le differenze che si notano sono principalmente nelle dimensioni del carattere dei due paragrafi.*/