
@import url(./root.css);
*{
    color:var(--primary-color)
}

.divbox {
    width: 2%;
    height: 20%;
    padding: var(--padding-one);     /*<-- esercizio var padding */
    border: 5px solid black;
}

.pxbox {
    margin: 10px;
    width: 150px;        
    height: 150px;
    background-color: black;
}

#para1{
    font-size: 7rem;
}
#para{
    font-size: 7em;
}

.pad{
    padding: 25%;
    margin: 5px;
}
/**Analisi:**/
/*Le differenze che si notano sono principalmente nelle dimensioni del carattere dei due paragrafi.*/